<link rel="stylesheet" href="stylesheets/dashboard.css">
<h2> Hello <%= user.name %></h2>
<!-- add-board-btn -->
<section class="container">
  <div id="add-board-btn--container">
    <button id="add-board-btn">
      <p>-- Add New Board --</p>
    </button>
    <div id="add-board-btn--form" class="form hide-elem">
      <form action="" class=" flexV">
        <label for="board_title">Board Title</label>
        <input type="text" name="board_title" id="add-board-btn--input">
        <div class="btn-control">
          <button class="form-btn" type="submit">save</button>
          <button class="form-btn" id="add-board-btn--cancel" type="button">cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>

<% user.boards.forEach((board) => { %>
  <link-board
  _id="<%= board._id %>"
  title="<%= board.board_title %>"
  >
  <% board.links.forEach((link) => { %>
    <link-line
    _id="<%= link._id %>"
    slot="link-line"
    linkTitle="<%= link.link_title %>"
    linkUrl="<%= link.url %>"
  ></link-line>
  <% }); %>
  <add-link-section
    slot="add-link-section"
  ></add-link-section>
  </link-board>
<% }); %>

<script type="module" src="./app.js"></script>